<div class="row">
	<div class="col-12">
		<h1 class="brownish-f tsa text-center">Careers</h1>
	</div>
	<div class="col-12 text-center">
		<%= image_tag 'entry-level.jpg', class: 'img-fluid round-img' %>
	</div>	
</div>