<div class="hero off-white-f pt-5">
  <div class=" col-md-7 offset-md-5 col-10 offset-1 mt-md-5 pb-1 frosty">
    <h1 class="tsa">Help frustrate telemarketing scammers.</h1>
    <h2 class="tsa">We help you, help others.</h2>
    <%= link_to 'Learn More', '#', class: 'btn btn-success float-right' %><br /><br />
  </div>
</div> 

<div class="container px-lg-1">
  <div class="row text-center py-3 mx-xs-1 mx-sm-0">
    <div class="col-12 col-sm cream-b pt-3">
      <h3 class="brownish-f tsa">Amazing Tools</h3>
      <p>Choose these tools to help bring comabt toxic scammers.</p>
    </div>

    <div class="col-12 col-sm off-white-b pt-3 mx-xs-0 mx-sm-1">
      <h3 class="brownish-f tsa">At Your Own Leisure</h3>
      <p>Follow our lead before creating your own recipe for destruction</p>
    </div>

    <div class="col-12 col-sm cream-b pt-3">
      <h3 class="brownish-f tsa">Join the Internet Army</h3>
      <p>Learn with a community of like-minded individuals.</p>
    </div>
  </div>
</div>