<div class="hero off-white-f pt-5">
  <div class=" col-md-7 offset-md-5 col-10 offset-1 mt-md-5 p-3 frosty">
    <h1 class="tsa">Help frustrate telemarketing scammers.</h1>
    <h2 class="tsa">We help you, help others.</h2>
    <%= link_to 'Learn More', '#', class: 'btn btn-success float-right' %>
  </div>
</div> 

<div class="container px-lg-6 feature">
  <div class="row text-center pt-3 pb-3">
    <div class="col-12 col-sm cream-b tsa pt-3 mr-2">
      <h3 class="brownish-f">Amazing Tools</h3>
      <p>Choose these tools to help bring comabt toxic scammers.</p>    </div>

    <div class="col-12 col-sm cream-b tsa pt-3 ml-1 mr-1">
      <h3 class="brownish-f">At Your Own Leisure</h3>
      <p>Follow our lead before creating your own recipe for destruction</p>
    </div>

    <div class="col-12 col-sm cream-b tsa pt-3 ml-2">
      <h3 class="brownish-f">Join the Internet Army</h3>
      <p>Learn with a community of like-minded individuals.</p>
    </div>
  </div>
</div>