<br />
<div class="booch-box col-10 offset-1 p-4 my-5 off-white-b bs">
	<h1 class="text-center fer-blk brownish-f tsa"><%= current_lesson.title %></h1>
	<h3 class="text-center droid-bi brownish-f"><%= current_lesson.subtitle %></h3>
	</div>
