<br />
<div class="booch-box col-10 offset-1 px-5 py-3 my-5 off-white-b droid brownish-f bs">
	<h1 class="fer-blk brownish-f tsa text-center">Time to Heighten Your Senses</h1>
<div class="row pt-3">
	<% @courses.each do |course| %>
		<div class="courses col-md-4 col-12 px-2 btn">
			<h3><%= link_to course.title, course_path(course), class: 'fer-blk brownish-f tsa' %></h3>
		  <% if course.image != nil %>
				<%= image_tag course.image.url, class: 'img-fluid round-img' %>
			<% end %>	
				<div class="row pt-4">
					<div class="col-8">
						<p class="droid-b black text-left ml-1"><%= course.description %></p>
					</div>
					<div class="col-4">
						<%= link_to 'Details', course_path(course), class: 'btn btn-primary btn-sm float-right fer-blk brownish-b' %>
					</div>
				</div>
		</div>
		<% end %>
	</div>
</div>