@font-face {
    font-family: 'commando';
    src: font_url('commando-webfont.eot');
    src: font_url('commando-webfont.eot?#iefix') format('embedded-opentype'),
         font_url('commando-webfont.woff2') format('woff2'),
         font_url('commando-webfont.woff') format('woff'),
         font_url('commando-webfont.ttf') format('truetype'),
         font_url('commando-webfont.svg#commando') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif-bold';
    src: font_url('droidserif-bold.eot');
    src: font_url('droidserif-bold.eot?#iefix') format('embedded-opentype'),
         font_url('droidserif-bold.woff2') format('woff2'),
         font_url('droidserif-bold.woff') format('woff'),
         font_url('droidserif-bold.ttf') format('truetype'),
         font_url('droidserif-bold.svg#droidserif-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif-bolditalic';
    src: font_url('droidserif-bolditalic.eot');
    src: font_url('droidserif-bolditalic.eot?#iefix') format('embedded-opentype'),
         font_url('droidserif-bolditalic.woff2') format('woff2'),
         font_url('droidserif-bolditalic.woff') format('woff'),
         font_url('droidserif-bolditalic.ttf') format('truetype'),
         font_url('droidserif-bolditalic.svg#droidserif-bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif-italic';
    src: font_url('droidserif-italic.eot');
    src: font_url('droidserif-italic.eot?#iefix') format('embedded-opentype'),
         font_url('droidserif-italic.woff2') format('woff2'),
         font_url('droidserif-italic.woff') format('woff'),
         font_url('droidserif-italic.ttf') format('truetype'),
         font_url('droidserif-italic.svg#droidserif-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droidserif';
    src: font_url('droidserif-regular.eot');
    src: font_url('droidserif-regular.eot?#iefix') format('embedded-opentype'),
         font_url('droidserif-regular.woff2') format('woff2'),
         font_url('droidserif-regular.woff') format('woff'),
         font_url('droidserif-regular.ttf') format('truetype'),
         font_url('droidserif-regular.svg#droidserif') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fengardoneue_black';
    src: font_url('fengardoneue_black.eot');
    src: font_url('fengardoneue_black.eot?#iefix') format('embedded-opentype'),
         font_url('fengardoneue_black.woff2') format('woff2'),
         font_url('fengardoneue_black.woff') format('woff'),
         font_url('fengardoneue_black.ttf') format('truetype'),
         font_url('fengardoneue_black.svg#fengardoneue_black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fengardoneue';
    src: font_url('fengardoneue_regular.eot');
    src: font_url('fengardoneue_regular.eot?#iefix') format('embedded-opentype'),
         font_url('fengardoneue_regular.woff2') format('woff2'),
         font_url('fengardoneue_regular.woff') format('woff'),
         font_url('fengardoneue_regular.ttf') format('truetype'),
         font_url('fengardoneue_regular.svg#fengardoneue') format('svg');
    font-weight: normal;
    font-style: normal;
}

