@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;  
}

#flex-content-container {
  flex: 1;
}

.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'fengardoneue_black';
}

p {
  font-family: 'droidserif';
}

#footer {
  poition: relative;
  width: 100%;
  min-height: 100px;
}

.fer-blk { font-family: 'fengardoneue_black'; }
.fer { font-family: 'fengardoneue'; }
.droid { font-family: 'droidserif'; }
.droid-b { font-family: 'droidserif_bold'; }
.droid-i { font-family: 'droidserif_italic'; }
.droid-bi { font-family: 'droidserif_bolditalic'; }
.light-blue-f { color: #80Add7; }
.light-blue-b { background: #80Add7; }
.green-f { color: #0ABDA0; }
.green-b { background: #0ABDA0; }
.off-white-f { color: #EBF2EA; }
.off-white-b { background: #EBF2EA; }
.cream-f { color: #D4DCA9; }
.cream-b { background: #D4DCA9; }
.brownish-f { color: #BF9D7A; }
.brownish-b { background: #BF9D7A; }
.tsa { text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1); }
.frosty { background: rgba(0, 0, 0, .5); }
.btn { border-radius: 0; }
.maxi { max-height: 150px; }
.booch-box h1, .booch-box h2 { margin: 10px; }
.booch-box {
  background: #FFFFFF;
  border: 1px solid;
  border-color: #BF9D7A #D4DCA9 #D4DCA9 #BF9D7A;
  padding: 10px;
}
.bs {
  box-shadow: 0px 1px 3px #2a2a2a;
  -moz-box-shadow: 0px 1px 3px #2a2a2a;
  -webkit-box-shadow: 0px 1px 3px #2a2a2a;
}

/* Naviagation */
.navbar {
  margin-top: -2.75rem;
}

a.nav-link {

}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  z-index: 9013;
}

.navbar-brand {
  z-index: 9014;
  position: fixed;
}

.sticky {
  z-index: 9014;
}

.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9014;
}

/* Index */
.hero {
  background: image_url('dolla-dolla-bill-yall.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  padding-top: 56px;
  box-shadow: 0px 3px 3px #2a2a2a;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}
