@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'droidserif';
}

#flex-content-container {
  flex: 1;
}

.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'fengardoneue_black';
}

p {
  font-family: 'droidserif';
}

#footer {
  poition: relative;
  width: 100%;
  min-height: 100px;
}

a, a:hover { color: white; text-decoration: none; }
.fer-blk { font-family: 'fengardoneue_black'; }
.fer { font-family: 'fengardoneue'; }
.droid { font-family: 'droidserif'; }
.droid-b { font-family: 'droidserif_bold'; }
.droid-i { font-family: 'droidserif_italic'; }
.droid-bi { font-family: 'droidserif_bolditalic'; }
.light-blue-f { color: #80Add7; }
.light-blue-b { background: #80Add7; }
.green-f { color: #0ABDA0; }
.green-b { background: #0ABDA0; }
.off-white-f { color: #EBF2EA; }
.off-white-b { background: #EBF2EA; }
.cream-f { color: #D4DCA9; }
.cream-b { background: #D4DCA9; }
.brownish-f { color: #BF9D7A; }
.brownish-b { background: #BF9D7A; }
.black { color: #000000; }
.tsa { text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1); }
.frosty { background: rgba(0, 0, 0, .5); }
.btn, img.round-img {   border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; }
.stripe-button-el { background: none; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; }
.stripe-button-el span { font-family: 'fengardoneue_black'; background-image: none; }
.maxi { max-height: 150px; }
.lesson { }
.section { padding: 20px; }
ul, li { list-style-type: none; margin-left: 0px; display:block; }
.list-group-item { padding: 0; margin: 0; background: transparent; border: 0; }
.booch-box h1 { margin: 10px; }
.adminDD:hover { background:#EBF2EA;
  border-radius: 5px 5px 5px 5px; 
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.lessonDD:hover{ background: #D4DCA9; }
.booch-box {
  background: #FFFFFF;
  border: 3px solid;
  border-color: #BF9D7A #D4DCA9 #D4DCA9 #BF9D7A;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.bs {
  border-radius: 5px 5px 5px 5px; 
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 0px rgba(100,100,100,.1);
  -moz-box-shadow: 3px 3px 0px rgba(100,100,100,.1);
  -webkit-box-shadow: 3px 3px 0px rgba(100,100,100,.1);
}

.courses:nth-child(odd) {
  background: #EBF2EA;
}

/* Buttons */
.btn.btn-primary.brownish-b, .btn.btn-primary.brownish-b:hover {
  border: 1px solid #BF9D7A;
}

.btn.btn-primary.brownish-b:hover {
  background: #84623F;
}

/* Naviagation */
.navbar {
  margin-top: -2.75rem;
}

a.nav-link {
  
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  z-index: 9013;
}

.navbar-brand {
  z-index: 9014;
  position: fixed;
  margin-top: -30px;
}

.sticky {
  z-index: 9014;
}

.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9014;
}

/* Index */
.hero {
  background: image_url('dolla-dolla-bill-yall.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  padding-top: 56px;
  box-shadow: 0px 3px 3px #2a2a2a;
}

.help-box {
  color: #ff3333;
  padding: 2px 8px;
  margin: 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.clr {
  clear: both;
}
